.apadrinharIntro {
  background-image: url("https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/fuinha.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 100vh;
}


/*efeito parallax*/
#parallaxImage1 {
  background-image: url(https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/educacaoAmbiental.jpg?raw=true);
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#parallaxImage2 {
  background-image: url(https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/gestaoEcologica.jpg?raw=true);
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#parallaxImage3 {
  background-image: url(https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/aconselhamentoExp.jpg?raw=true);
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}






