.apoiarIntro {
  background-image: url("https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/texugo.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 100vh;
}

#separadorApoiar1 {
  background-image: url(https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/gineta1.jpg?raw=true);
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#separadorApoiar2 {
    background-image: url(https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/ginetta2.jpg?raw=true);
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  #separadorApoiar3 {
    background-image: url(https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/ginetta3.jpg?raw=true);
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

.linhaApoiar {
  border: 1px solid #f6ecd1;
  opacity: 100%;
}


/*padding nas caixas para as manchas de texto maiores*/
.pDirApoiar{
    padding-right: 200px !important;
}

@media only screen and (max-width: 1200px) {
    .pDirApoiar{
        padding-right: 80px !important;
    }
  }