/*
main {
  width: 100%;
  height: 600px;

  margin: 10px auto;
  position: relative;
  padding: 5px 0;
}

.text h1 {
  font-size: 50px;
}
.text p {
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
}


main .text {
  padding: 11px;
  text-align: center;

  color: #554;
}


*/

/*
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
picture {
  width: 100%;
  height: 70%;
  padding: 0px;

  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
picture img {
  width: 100%;
}
*/
/*
.detail,
.button {
  width: 90%;

  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #444;
}*/

.biodiversidadeIntro {
  background-image: url("https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/milhafrePreto.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
  min-height: 100vh;
}

main header {
  width: 98%;
  height: 60px;
  margin: 0 auto;
  /*background: gray;*/
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  /*border-bottom: 2px solid #ddd;*/
}

header p span {
  font-size: 40px;
  margin: 0 5px;
  cursor: pointer;
  color: #f6ecd1;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
}
header p span:hover {
  background: #f6ecd1;
  color: #0f0701;
}

section {
  width: 98%;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

section::-webkit-scrollbar {
  display: none;
}



/*section e product*/
.anfibio {
  min-width: 320px;
  height: 80%;
  /*background: whitesmoke;*/
  margin: 0 20px 0 0;
  border-radius: 30px;
  position: relative;
  left: 0;
  transition: 0.5s;
}


.mamifero {
 min-width: 320px;
  height: 80%;
  /*background: whitesmoke;*/
  margin: 0 20px 0 0;
  border-radius: 30px;
  position: relative;
  left: 0;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .text h1 {
    font-size: 35px;
  }
  .text p {
    width: 90%;
  }
  header h1 {
    font-size: 25px;
  }
  header p span {
    font-size: 35px;
  }
  /*section .product {
    min-width: 85%;
    margin: 0 10px 0 0;
  }*/
  .detail,
  .button {
    font-size: 16px;
  }
}

/*cartao bootstrap*/
.card {
  background-color: transparent !important;
}

.tamanhoCartao {
  width: 100%;
  height: 100%;
  border: 0px !important;
}

.card-body {
  font-size: 10px;
  background-color: #1b1309;
}

.card-body p {
  color: #9e9f9b;
}

.card-img-top {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  background-color: #1b1309;
}

.card-title {
  background-color: #93785f;
  padding: 18px 24px 12px 28px;
  border-radius: 5px;
  margin-top: -25px;
  text-align: center;
}

.card-title,
h5 {
  color: white;
  text-shadow: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.footerTop {
  background-color: #79634d !important;
  padding: 0 !important;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

small {
  color: white;
  letter-spacing: 1px;
}

.footerBottom {
  background-color: #3a2c20 !important;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.iconeBioreserva {
  top: 10px;
  right: 10px;
}
