.bioreservasIntro {
  background-image: url("https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/corco.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
  min-height: 100vh;
}

/*efeito parallax*/
#setasTrilhos {
  background-image: url(https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/setasTrilhos.jpg?raw=true);
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#serraPescaria {
  background-image: url(https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/serraPescaria.jpg?raw=true);
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/*tamanho de iframe de google maps*/
.maps {
  width: 90%;
  height: 200px;
}


