* {
  font-family: "Poppins", sans-serif;
  color: #f6ecd1;
  text-align: justify;
}



h1 {
  font-family: "Allerta Stencil", sans-serif;
  /*font-size: calc(1.8rem + 1.5vw) !important;*/
}

.castanho-background {
  background-color: #0f0701;
}

.cor-primaria {
  color: #f6ecd1;
}

.botao {
  border: 2px solid #f6ecd1;
  border-radius: 30px;
  padding: 4px 18px;
  font-size: 12px;
  cursor: pointer;
  background-color: #0f0701;
  color: #f6ecd1;
}

/*PADING UTIL*/

/*pading div historia no sobre*/
.pad-10-0-10-10 {
  padding: 10% 0 10% 10%; 
}

/*pading geral de sobre*/
.pad-10 {
  padding: 10% 10% 10% 10%; 
}
