* {
  font-family: "Poppins", sans-serif;
  color: #f6ecd1;
  text-align: justify;
  list-style: none;
}

h1 {
  font-family: "Allerta Stencil", sans-serif;
  /*font-size: calc(1.8rem + 1.5vw) !important;*/
  text-shadow: 2px 2px 4px #000000;
}

/*gradiente castanho amarelado*/

.gradiente {
  background: linear-gradient(
    180deg,
    #0e0600 32.35%,
    #3e361d 129.39%,
    #665d3a 208.06%,
    #9e7e5b 262.44%,
    #a3815e 262.46%
  );
}

.gradienteInverso {
  background: linear-gradient(
    179.86deg,
    #2b2312 -4.39%,
    #1e160a 44.2%,
    #0f0701 105.16%,
    #0f0701 165.24%
  );
}

.castanho-background {
  background-color: #0f0701;
}

.amareloEscuro {
  color: #f6ecd1;
  text-shadow: 2px 2px 4px #000000;
}
.cor-primaria {
  color: #f6ecd1;
}

.botao {
  border: 2px solid #f6ecd1;
  border-radius: 30px;
  padding: 4px 18px;
  font-size: 12px;
  cursor: pointer;
  background-color: #0f0701;
  color: #f6ecd1;
}

/*PADING UTIL*/

/*pading div historia no sobre*/
.pad-10-0-10-10 {
  padding: 10% 0 10% 10%;
}

/*pading geral de sobre*/
.pad-10 {
  padding: 10% 10% 10% 10%;
}

/*ajustar texto a telemovel*/

@media only screen and (max-width: 450px) {
  p {
    font-size: 12px;
  }
}
