/*Estilo na Homepage*/

* {
  margin: 0;
  padding: 0;
  right: 0;
  left: 0;
}

/*//////////////////////////////////NAVBAR ////////////////////////////////*/

.navbar-brand:hover,
.facebook:hover,
.youtube:hover,
.instagram:hover,
.apadrinhar:hover,
.apoiar:hover {
  opacity: 30%;
  transition: all 0.5s ease-in-out;
  transform: translateY(2px);
}

h3 {
  font-family: "Allerta Stencil", sans-serif;
}

/*MENU HAMBURGER*/
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 40px;
  height: 4px;
  background: #f6ecd1;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.botao i:hover {
  color: rgb(27, 16, 7);
  z-index: 100;
}

/*MENU HAMBURGER BEFORE // AFTER */
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #f6ecd1;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}

/* MENU HAMBURGER hamburger*/

.menu-btn__burger:hover {
  opacity: 30%;
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/*//////////////////////PARALLAX ///////////////////////////*/

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*PARALLAX BEFORE // AFTER */

section:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

section:after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/*////////////////MILVOZ////////////////*/

.separador {
  position: relative;
  width: 100vw;
  height: 30vh;
  background-position: center;
  overflow: hidden;
}
.logobox {
  padding-top: 1rem;
}
.criado {
  padding-top: 1rem;
}

/*MILVOZ BEFORE // AFTER */

.separador:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}
.separador:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

/*MILVOZ RESPONSIVIDADE */

@media only screen and (max-width: 800px) {
  .separador {
    height: 20vh;
  }
}

/* ///////////////////////// SECÇÃO DAS ATIVIDADES////////////////////////////*/

.atividadebox {
  background-image: url("https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/sacaRabos.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 1114px;
}

.atividade {
  padding-top: 12rem;
  padding-left: 55rem;
}

/* SECÇÃO DAS ATIVIDADES - BEFORA // AFTER */
.atividadebox:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0e0600, transparent);
  z-index: 10;
}

.atividadebox:after {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, #0e0600, transparent);
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
}

/*SECÇÃO DAS ATIVIDADES - ANIMAÇÃO */

.rodar a:hover {
  transform: rotate(-60deg);
  transition: all 0.2s ease-in-out 0s;
}

.rodar h4:hover {
  font-size: 2rem;
  transition: all 0.2s ease-in-out 0s;
}

/* ////////////////////// BIORESERVAS ////////// */

/* Panels. */
.splitview {
  position: relative;
  width: 100%;
  min-height: 50vw;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 100vw;
  height: 50vw;
  overflow: hidden;
}

.panel .content {
  position: absolute;
  width: 100vw;
  height: 100vw;
  color: #fff;
}

.panel .content .iconapescaria {
  position: absolute;
  top: 15%;
  right: 25%;
  z-index: 500;
}

.panel .content .iconaalegria {
  position: absolute;
  left: 65%;
  top: 15%;
  z-index: 500;
}

.panel .description {
  width: 25%;
  position: absolute;
  z-index: 20;
  top: 5%;
  background: linear-gradient(
    180deg,
    #0e0600 32.35%,
    #3e361d 129.39%,
    #665d3a 208.06%,
    #9e7e5b 262.44%,
    #a3815e 262.46%
  );
}

.panel .description h3 {
  font-family: "Allerta Stencil", sans-serif;
  text-shadow: 2px 2px 4px #000000;
}
.panel .description p {
  font-size: smaller;
}

.bottom {
  background-color: #161008;
  z-index: 1;
}

.bottom .description {
  left: 5%;
  min-width: 30%;
}

.top {
  background-color: #0f0701;
  z-index: 2;
}

.top .description {
  left: 85%;
  z-index: 50;
}

.top .fotopescaria {
  width: 60%;
  height: 50%;
  margin-left: 75%;
  background-image: url("https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/serraPescaria.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top .fotopescaria:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 90;
  width: 30%;
  height: 100%;
  background: linear-gradient(to right, #0e0600, transparent);
  z-index: 5;
}

.top .fotopescaria:after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #0e0600, transparent);
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.bottom .fotoalegria {
  width: 40%;
  height: 50%;
  background-image: url("https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/serraPescaria.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bottom .fotoalegria:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 90;
  width: 40%;
  height: 100%;
  background: linear-gradient(to left, #161008, transparent);
  z-index: 5;
}

.bottom .fotoalegria:after {
  content: "";
  position: absolute;
  background: linear-gradient(to left, #161008, transparent);
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

/* Handle. */
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: #a3815e;
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

/* Skewed. */
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(100vw + 1000px);
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}

/* Responsive. */

@media (max-width: 1350px) {
  .top .description {
    width: 30%;
    left: 80%;
  }
  .iconapescaria img {
    width: 200px;
  }
  .iconaalegria {
    right: 10%;
  }
  .iconaalegria img {
    width: 200px;
  }
}

@media (max-width: 1250px) {
  .top .description {
    top: 1%;
    width: 35%;
    left: 75%;
  }
}

@media (max-width: 1200px) {
  .top .description {
    top: 1%;
    width: 36%;
    left: 75%;
  }
  .iconaalegria h1 {
    font-size: 2rem;
  }
  .iconapescaria h1 {
    font-size: 2rem;
  }
  .bottom .description {
    top: 1%;
    width: 37%;
    left: 2%;
  }
}
@media (max-width: 1100px) {
  .top .description {
    top: 1%;
    width: 40%;
    left: 70%;
  }
  .bottom .description {
    top: 1%;
    width: 40%;
    left: 2%;
  }
}
@media (max-width: 1050px) {
  .top .description {
    top: 1%;
    width: 43%;
    left: 68%;
  }
  .bottom .description {
    top: 1%;
    width: 43%;
    left: 2%;
  }
}
@media (max-width: 1020px) {
  .top .description {
    top: 1%;
    width: 55%;
    left: 56%;
  }
  .bottom .description {
    top: 1%;
    width: 55%;
    left: 5%;
  }
  .iconaalegria h1 {
    font-size: 1.5rem;
  }
  .iconapescaria h1 {
    font-size: 1.5rem;
  }
  .iconaalegria img {
    width: 120px;
  }
  .iconapescaria img {
    width: 120px;
  }
}

@media (max-width: 900px) {
  .skewed .content {
    font-size: 85%;
  }
}
@media (max-width: 800px) {
  .skewed .content {
    font-size: 75%;
  }
  .iconaalegria h1 {
    font-size: 1rem;
  }
  .iconapescaria h1 {
    font-size: 1rem;
  }
  .iconaalegria img {
    width: 90px;
  }
  .iconapescaria img {
    width: 90px;
  }
}
@media (max-width: 700px) {
  .skewed .content {
    font-size: 65%;
  }
}
@media (max-width: 750px) {
  .skewed .content {
    font-size: 60%;
  }
}
@media (max-width: 650px) {
  .skewed .content {
    font-size: 60%;
  }
  .iconaalegria h1 {
    font-size: 0.6rem;
  }
  .iconapescaria h1 {
    font-size: 0.6rem;
  }
  .iconaalegria img {
    width: 90px;
  }
  .iconapescaria img {
    width: 90px;
  }
  .top .description {
    top: 0;
    width: 65%;
    left: 52%;
  }
  .bottom .description {
    top: 0;
    width: 65%;
    left: 0;
  }
}
/* ////////////////////// SÊ MAIS UMA VOZ ////////// */

.doninha {
  position: relative;
  background-image: url("https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/doninha.jpg?raw=true");
  background-size: cover;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
}
.txtdoninha {
  z-index: 15;
}

/*sÊ MAIS UMA VOZ BEFORE/ AFTER */

.doninha:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0e0600, transparent);
  z-index: 10;
}

.doninha:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-color: #0e0600;
  opacity: 0.5;
  width: 100%;
  height: 600px;
  z-index: 10;
}

/* ///////// BIODIVERSIDADE LOCAL ///////////////////////*/

/* BOTÕES*/

main header {
  width: 98%;
  height: 60px;
  margin: 0 auto;
  /*background: gray;*/
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  /*border-bottom: 2px solid #ddd;*/
}

header p span {
  font-size: 40px;
  margin: 0 5px;
  cursor: pointer;
  color: #f6ecd1;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
}
header p span:hover {
  background: #f6ecd1;
  color: #0f0701;
}

/* CARTÕES */

.cartoesHomepage {
  width: 98%;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.cartoesHomepage::-webkit-scrollbar {
  display: none;
}

.cartoesHomepage .product,
.anfibio,
.mamifero {
  min-width: 320px;
  height: 80%;
  /*background: whitesmoke;*/
  margin: 0 20px 0 0;
  border-radius: 30px;
  position: relative;
  left: 0;
  transition: 0.5s;
}

.contentor {
  width: 98%;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.biodiversidade:-webkit-scrollbar {
  display: none;
}


.biodiversidade .product,
.mamifero {
  min-width: 320px;
  height: 80%;
 
  margin: 0 20px 0 0;
  border-radius: 30px;
  position: relative;
  left: 0;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .text h1 {
    font-size: 35px;
  }
  .text p {
    width: 90%;
  }
  header h1 {
    font-size: 25px;
  }
  header p span {
    font-size: 30px;
  }
  .biodiversidade .product {
    min-width: 85%;
    margin: 0 10px 0 0;
  }
  .detail,
  .button {
    font-size: 16px;
  }
}

/*cartao bootstrap*/
.card {
  background-color: transparent !important;
}

.tamanhoCartao {
  width: 100%;
  height: 100%;
  border: 0px !important;
}

.card-body {
  font-size: 10px;
  background-color: #1b1309;
}

.card-body p {
  color: #9e9f9b;
}

.card-img-top {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  background-color: #1b1309;
}

.card-title {
  background-color: #93785f;
  padding: 18px 24px 12px 28px;
  border-radius: 5px;
  margin-top: -25px;
  text-align: center;
}

.card-title,
h5 {
  color: white;
  text-shadow: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.footerTop {
  background-color: #79634d !important;
  padding: 0 !important;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

small {
  color: white;
  letter-spacing: 1px;
}

.footerBottom {
  background-color: #3a2c20 !important;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.iconeBioreserva {
  top: 10px;
  right: 10px;
}

/* //////////// NEWSLETTER ///////// */

.andorinha {
  position: relative;
  background-image: url("https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/andorinhas.jpg?raw=true");
  background-size: cover;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
}

.andorinha:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0e0600, transparent);
  z-index: 10;
}

.andorinha:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-color: #0e0600;
  opacity: 0.5;
  width: 100%;
  height: 600px;
  z-index: 10;
}
