span {
  font-family: "Allerta Stencil", sans-serif;
}

.quemSomos {
  background-image: url("https://github.com/filipa-bastos/milVoz/blob/main/recursos/images/fundoTritao.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.quemSomosTexto {
  margin-left: 30%;
}

@media only screen and (max-width: 600px) {
  .quemSomosTexto {
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
  }
  #tritao {
    height: 400px;
  }
}

.historia {
  background: linear-gradient(
    180deg,
    #0e0600 32.35%,
    #3e361d 129.39%,
    #665d3a 208.06%,
    #9e7e5b 262.44%,
    #a3815e 262.46%
  );
}
